*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    --top-spacing: 100px;
    scroll-padding-top: var(--top-spacing);
}
header{
    display: flex;
    color: rgb(26, 25, 25);
    padding: 2%;
    position: sticky;
    top: 0;
    background-color: rgb(221, 253, 238);
    z-index: 3;
}
header h1{
    color: rgb(6, 110, 76);
    width: 30%;
}
header nav{
    width: 70%;
    line-height: 35px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#check{
    visibility: hidden;
    position: absolute;
}
.show-btn, .hide-btn{
    color: black;
    font-size: 25px;
    float: right;
    display: none;
}
header nav ul li{
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
#login, header nav ul li div button{
    padding: 5%;
    display: block;
    width: 120px;
    border: none;
    background-color: white;
    color: rgb(100, 60, 60);
    font-weight: 100;
    font-size: 20px;
}

#name:hover ~ #hover{
    display: inline;
}
#hover {
    display: none;   
}

footer{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px; 
    padding: 2% 1%;
    margin: 0%;
    background-color: rgb(6, 85, 59); 
    align-items: center; 
}
.ask{
    height: 50%;
    border: black solid 1px;
    padding: 1.5% 1.8%;
    border-radius: 20px;
    background-color: white  ;
    
}
input{
    width: 85%;
    padding: 0.8% 0.5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    
}
input:focus{
    outline: none;
    border-bottom: rgb(65, 66, 66, 0.3) solid 1.3px;
}
button{
    padding: 1% 1%;
    font-size: 18px;
    background-color: rgb(6, 131, 89);
    color: white;
    border: none;
    transition: 0.3s;
    display: inline-block;
    width: 10%;
    border-radius: 5px;
}
button:active{
    background-color: transparent;
    border: solid white 1.5px;
    border-radius: 4px;
    color: black;
}
ul{
    list-style: none;
}




@media (max-width:625px){
    .show-btn,.hide-btn{
        display : block;
        transition : 0.3s;
    }
    header nav ul{
        z-index: 3;
        position: fixed;
        right:-120%;
        display: flex;
        flex-direction: column;
        top: 45px;
        transition: 0.3s;
        padding: 2% 0%;
        width: auto;
        background-color: blanchedalmond;
    }
    header nav ul li{
        text-align: center;
        display: block;
        font-size: 15px; ;
    }
    header nav ul li a{
        border-radius: 5px;
        padding: 7px 7px;

    }
    #login, header nav ul li > div > button{
        color: black;
        padding: 7px 7px;
        font-size: 15px;
        display: block;
        margin: auto;
    }
    
    #check:checked ~ ul{
        right:0%;
        width: 100%;
        background-color: white;
    }
    #check:checked ~ .show-btn{
        display: none;
    }
    .hide-btn{
        position: absolute;
        right: 10px;
        top: -40px;
    }
    #hover {
        display: none;
    }
}