*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    --top-spacing: 100px;
    scroll-padding-top: var(--top-spacing);
}
header{
    display: flex;
    color: rgb(26, 25, 25);
    padding: 2%;
    position: sticky;
    top: 0;
    background-color: rgb(229, 250, 240);
    z-index: 3;
}
header h1{
    color: rgb(6, 110, 76);
    width:40%;
}
header nav{
    background-color: rgb(229, 250, 240);
    width: 70%;
    line-height: 35px;
}
header nav ul{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#check{
    visibility: hidden;
    position: absolute;
}
.show-btn, .hide-btn{
    color: black;
    font-size: 25px;
    float: right;
    display: none;
}
header nav ul li{
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
#login, header nav ul li div button{
    padding: 5%;
    display: block;
    width: 120px;
    border: none;
    background-color: transparent;
    color: rgb(100, 60, 60);
    font-weight: 100;
    font-size: 20px;
}
.log{
    width: 120px;
    transition: 0.3s ease-in;
}
#hovers {
    display: none;   
}
.log:hover ~#hovers{
    text-align: left;
    display: block;
}
#name{
   cursor :pointer;
}


.img{
    background-image: url(https://preview.colorlib.com/theme/universityedu/assets/img/hero/xh1_hero1.jpg.pagespeed.ic.nogT7L3zFj.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    opacity:0.9;
}
.img > .container{
    margin-left: 60px ;
    display: block;
    padding: 2%;
    position:relative;
    top: 180px;

}
.container > .row{
    color: white;
}
.container > .row > h2{
    display: block;
    margin: 11px;
}
.container > .row > p{
    margin: 1%;
    font-size: 20px;
}
.container > .row > .heading{
    font-size: 50px;
    font-weight: 1000;
}
.container > .row > button{
    display: block;
    padding: 2% 6%;
    font-size: 20px;
    margin: 1%;
    margin-top: 30px;
    border: none;
    background: #007A5C;
    color: white;
    transition: 0.1s;
}
.container > .row > button:hover{
    background-color: transparent;
    border: solid white 1.5px;
    border-radius: 4px;
}
.about{
    padding: 4% 2%  ;
    background-color: #FCF2EB;
}
.about > .row{
    display: flex;
    z-index: 1;
}
.about > .row > div{
    margin: 5%;
    font-size: 21px;
    color: rgb(113, 114, 112);
    text-align: left;
}
.about > .row > div > img {
    width: 550px;
    height: 480px;
}
.about > .row > div > h2{
    position: relative;
    top:20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000 ;
    display: block;
    color: black;
    margin-bottom: 2%;
}
.about > .row > div > p{
    position: relative;
    top:40px;
}
.courses{
    padding: 3%;
    font-size: 20px;
    color: rgb(48, 42, 42);
    background-color: rgb(252, 247, 247);
}
.courses > .heading{
    margin: auto;
    text-align: center;
    padding: 5% 19%;
    color: rgb(94, 88, 88);
}
.courses > .heading > h2{
    font-size: 33px;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    display: block;
    margin: auto;
    color: rgb(51, 50, 50);
}
.courses > .container{
    display: flex;
    justify-content:space-around;
    width: fit-content;
    flex-wrap: wrap;
}
.courses > .container > .item{
    width: 450px;
    height: 450px;
    padding: 10px;
    border: solid 1.4px rgba(2, 85, 57, 0.15);
    margin: 2%;
    transition: 0.3s;
    text-align: justify;
    align-items: center;
    text-align: left;
    transition: 0.1s;
}

.courses > .container > .item > .imag > img{
    width: 400px;
    height: 210px;
    display: block;
    margin: auto;
} 
.courses > .container > .item:hover{
    border:solid 2px rgba(43, 82, 69, 0.6);
}
.courses > .container > .item > .text{
    padding: 2%;
}
.courses > .container > .item > .text > h2{
    color: rgb(6, 131, 89) ;
    text-decoration: underline;
}
.courses > .container > .item > .link{
    text-align: left;
    padding: 2%;
}
.courses > .container > .item > .link > .a{
    color: rgb(6, 131, 89);
    text-decoration: none;
    transition: 0.3s;

}
.courses > .container > .item > .link > .a:hover{
    padding: 5px;
    font-size: 25px;
    text-decoration: underline;
}
footer{
    background-color:#343a40 ;
    color: #A7AEB4;

}
footer > .container{
    display: flex;
    padding: 4%;
}
footer > .container > .item{
    font-size: 15px;
    width: 20%;
    font-weight: 100;
}
footer > .container > .item:nth-child(4){
    width: 40%;
}
footer > .container > .item > div > p{
    margin: 3% 1%;
}
footer > .container > .item > div > p > a{
    color: #A7AEB4;
    text-decoration: none;
}
footer > .container > .item > div > p > a:hover{
    color: white;
    text-decoration: underline;
}
footer > .container > .item > div > input{
    padding: 1%  !important;
    font-size: 20px;
    border-radius: 5px;
    display: inline;
    border : white solid 2px;
}
footer > .container > .item > div > button {
    padding: 2% 10% !important;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(66, 145, 148);
    border : none;
}
footer > .container > .item > div > button:hover {
    box-shadow: rgb(95, 237, 241) 3px 3px 3px 3px;
}
footer > .container > .item>  h2,h1{
    color: white;
    font-weight: 500;
}
footer > .copyright{
    padding: 3%;
    text-align: center;
    border-top: solid 1px rgb(104, 103, 103, 0.5) ;
}







/* forum css */
.askFooter{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px; 
    padding: 2% 1%;
    margin: 0%;
    background-color: rgb(6, 85, 59); 
    align-items: center; 
}
.ask{
    height: 50%;
    width: 94%;
    border: black solid 1px;
    padding: 1.5% 1.8%;
    border-radius: 20px;
    background-color: white  ;
    
}
#input{
    width: 85%;
    padding: 0.8% 0.5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    
}
#input:focus{
    outline: none;
    border-bottom: rgb(65, 66, 66, 0.3) solid 1.3px;
}
.ask button{
    padding: 1% 1%;
    font-size: 18px;
    background-color: rgb(6, 131, 89);
    color: white;
    border: none;
    transition: 0.3s;
    display: inline-block;
    width: 10%;
    border-radius: 5px;
}
.ask button:active{
    background-color: transparent;
    border: solid white 1.5px;
    border-radius: 4px;
    color: black;
}
#list{
    margin: 1% 0.5% 1% 0.5%;
    list-style: none;
    padding: 0.8%;
    border:solid rgb(221, 253, 238) 0.8px;
}
#list li:nth-child(even){
    background-color: rgb(240, 250, 246) ;
    border-radius: 10px ;
}
#list li{
    padding: 1%  1% 1% 1%;
    font-size: 18px;
    font-weight:540;
    text-align: left;
    justify-content: center;
}







@media (max-width:625px){
    .show-btn,.hide-btn{
        display : block;
        transition : 0.3s;
    }
    header h1{
        width:70%;
    }
    header nav{
        background-color: rgb(221, 253, 238);
    }
    header nav ul{
        z-index: 3;
        position: fixed;
        right:-120%;
        display: flex;
        flex-direction: column;
        top: 45px;
        transition: 0.3s;
        padding: 2% 0%;
        width: auto;
        background-color: rgb(221, 253, 238);
    }
    header nav ul li{
        text-align: center;
        display: block;
        font-size: 15px; ;
    }
    header nav ul li a{
        border-radius: 5px;
        padding: 7px 7px;

    }
    #login, header nav ul li > .log > #hovers{
        color: black;
        padding: 7px 7px;
        font-size: 15px;
        display: block;
        margin: auto;
    }
    
    #check:checked ~ ul{
        right:0%;
        width: 100%;
    }
    #check:checked ~ .show-btn{
        display: none;
    }
    .hide-btn{
        position: absolute;
        right: 10px;
        top: -40px;
    }
    #hovers {
        display: none;
        margin: auto;
    }
    #logout{
        display: block;
        margin-left:0 ;
        padding: 0% 18%;
        text-align: left;
    }
    .log{
        margin: auto;
      }
    .img{
        background-size: 700px 600px;
        font-size: 15px;
    }
    .img > h2{
        font-size: 18px;
    }
    .img > .container > .row > .heading{
        font-size: 25px;
    }
    .about > .row {
        flex-direction: column;
    }
    .about{
        padding: 4% 2%  ;
        background-color: #FCF2EB;
    }
    .about > .row{
        display: flex;
        z-index: 1;
    }
    .about > .row > div{
        padding: 2%;
    }
    .about > .row > div > img {
        width: 90%;
        height: 90%;
        display: block;
        margin: auto;
    }
    .courses > .container > .item{
        width: 80%;
        height: 450px;
        font-size: 18px;
        margin: auto;
        margin-bottom:40px ;
    }
    .courses > .container > .item > .imag > img{
        width: 90%;
    }
    footer > .container {
        flex-direction: column;
    }
    footer > .container > .item{
        width: 100%;
    }
    footer > .container > .item >  h2 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 600;
    }
}




@media (max-width:800px) and (min-width:625px){
    .show-btn,.hide-btn{
        display : block;
        transition : 0.3s;
    }
    header nav ul{
        z-index: 3;
        position: fixed;
        right:-120%;
        display: flex;
        flex-direction: column;
        top: 45px;
        transition: 0.3s;
        padding: 2% 0%;
    }
    header nav ul li{
        text-align: center;
        display: block;
        font-size: 15px; ;
    }
    header nav ul li a{
        border-radius: 5px;
        padding: 7px 7px;

    }
    #login, header nav ul li > div > button{
        border-radius: 5px;
        color: black;
        padding: 7px 7px;
        font-size: 15px;
        display: block;
        margin: auto;
    }
    #check:checked ~ ul{
        right:0%;
        width: 100%;
        background-color: white;
    }
    #check:checked ~ .show-btn{
        display: none;
    }
    .hide-btn{
        position: absolute;
        right: 10px;
        top: -40px;
    }
    #hover {
        display: none;
    }
    .img{
        background-size: 770px 700px;
        font-size: 15px;
    }
    .img > h2{
        font-size: 18px;
    }
    .img > .container > .row > .heading{
        font-size: 25px;
    }
    .about > .row {
        flex-direction: column;
    }
    footer > .container {
        flex-wrap: wrap;
    }
    footer > .container > .item{
        margin: 3%;
        width: 30%;
    }
    footer > .container > .item:nth-child(4){
        margin-right: 0%;
        width: 59%;
    }
}

@media (max-width:1199px) and (min-width:800px){
    .about > .row > div > img{
        width: 90%;
        height: 98%;
        font-size: 15px;
    }
    .about > .row > div{
        width: 40%;
        font-size: 19px;
    }
    .courses > .container > .item{
        width: 40%;
        height: 450px;
        font-size: 18px;
    }
    .courses > .container > .item > .imag > img{
        width: 90%;
    }
    footer > .container > .item{
        margin: 5%;
    }
    footer > .container {
        flex-wrap: wrap;
    }
    footer > .container > .item:nth-child(4){
        width: 50%;
    }
}